<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfxf.douniu">

    <application
        android:allowBackup="true"
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivityTabHost"/>
        <activity android:name=".activity.ActivityBar"/>
        <activity android:name=".activity.ActivityZhengu"/>
        <activity android:name=".activity.ActivityAskAdvisor"/>
        <activity android:name=".activity.ActivityAnswer"/>
        <activity android:name=".activity.ActivityAnswerDetail"/>
        <activity android:name=".activity.ActivityAskStock"/>
        <activity android:name=".activity.ActivityXiangMu"/>
        <activity android:name=".activity.ActivityXiangMuDetail"/>
        <activity android:name=".activity.ActivityAdvisorHome"/>
        <activity android:name=".activity.login.ActivityLogin"/>
        <activity android:name=".activity.login.ActivityRegister"/>
        <activity android:name=".activity.login.ActivityForget"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>