<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zfxf.douniu">

    <application
        android:allowBackup="true"
        android:name=".base.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivityTabHost"/>
        <activity android:name=".activity.ActivityBar"/>
        <activity android:name=".activity.ActivityZhengu"/>
        <activity android:name=".activity.ActivityAskAdvisor"/>
        <activity android:name=".activity.ActivityAnswer"/>
        <activity android:name=".activity.ActivityAnswerDetail"/>
        <activity android:name=".activity.ActivityAskStock"/>
        <activity android:name=".activity.ActivityXiangMu"/>
        <activity android:name=".activity.ActivityXiangMuDetail"/>
        <activity android:name=".activity.ActivityAdvisorHome"/>
        <activity android:name=".activity.login.ActivityLogin"/>
        <activity android:name=".activity.login.ActivityRegister"/>
        <activity android:name=".activity.login.ActivityForget"/>
        <activity android:name=".activity.ActivityInformation"/>
        <activity android:name=".activity.myself.ActivityMyselfShezhi"/>
        <activity android:name=".activity.myself.ActivityMyselfContact"/>
        <activity android:name=".activity.myself.ActivityMyselfQuestion"/>
        <activity android:name=".activity.myself.ActivityMyselfReviseCode"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateOne"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateTwo"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateThird"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateFourth"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateFifth"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateSix"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateSeven"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateEight"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateNine"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateTen"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateEleven"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateTwelve"/>
        <activity android:name=".activity.myself.ActivityMyselfRvaluateResult"/>
        <activity android:name=".activity.myself.ActivityMyselfAdvisor"/>
        <activity android:name=".activity.myself.ActivityMyselfConsume"/>
        <activity android:name=".activity.myself.ActivityMyselfAttention"/>
        <activity android:name=".activity.myself.ActivityMyselfAsk"/>
        <activity android:name=".activity.myself.ActivityMyselfSubscribe"/>
        <activity android:name=".activity.myself.ActivityMyselfInformation"/>
        <activity android:name=".activity.advisor.ActivityAdvisorAllPublicDetail"/>
        <activity android:name=".activity.advisor.ActivityAdvisorAllSecretDetail"/>
        <activity android:name=".activity.ActivityToPay"/>
        <activity android:name=".activity.ActivityBuyNiu"/>
        <activity android:name=".activity.ActivityDeposit"/>
        <activity android:name=".activity.ActivityLiving"/>
        <activity android:name=".activity.myself.ActivityMyselfMessage"/>
        <activity android:name=".activity.myself.ActivityMyselfMessageCategorie"/>
        <activity android:name=".activity.ActivityResearch"/>
        <activity android:name=".activity.ActivityHeadline"/>
        <activity android:name=".activity.ActivityHeadLineDetail"/>
        <activity android:name=".activity.ActivityReward"/>
        <activity android:name=".activity.ActivityGoldPond"/>
        <activity android:name=".activity.Activityhistory"/>
        <activity android:name=".activity.ActivityAdvisorList"/>
        <activity android:name=".activity.ActivityMatador"/>
        <activity android:name=".activity.ActivityMarketResearch"/>
        <activity android:name=".activity.ActivityWarning"/>
        <activity android:name=".activity.ActivitySimulation"/>
        <activity android:name=".activity.ActivitySimulationStock"/>
        <activity android:name=".activity.ActivitysimulationQueryToday"/>
        <activity android:name=".activity.ActivitysimulationQueryHistory"/>
        <activity android:name=".activity.ActivityIntelligenceChoose"/>
        <activity android:name=".activity.ActivityBarBarDetail"/>
        <activity android:name=".activity.ActivityPostBar"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
</manifest>